.post-title-link {
	font-weight: 700;
	font-size: 34px;
	color: white;
	text-decoration: none;
	line-height: 3.5rem;

}

.footer {
	font-size: 1.0em;
}

body {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgb(61,109,136), rgb(20,33,41)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgb(61,109,136), rgb(20,33,41)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgb(61,109,136), rgb(20,33,41)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgb(61,109,136), rgb(20,33,41)); /* Standard syntax */
  color:#8C8C8C;
}

.summary{
	font-size: 0.5em;
}

h1{
	color: white
}

a{
	color: rgb(170,192,203);
	
}

a,li{
	font-size: 1.8em;
}

a,p{
	font-size: 1.0em;
}

.row {
	background-color:transparent;
}

ul{
	 list-style-type: none;
}

.content li{
	font-size: 1.0em;
}
.content ul{
    list-style-type: square;
}

.post-postedby {
	color: #888888;
	font-size: 12px;
	font-style: italic;
}
.cat-list-link {
	color: #333;
	text-decoration: none;
}
.cat-list-link:hover {
	color: #e77817;
}
.navbar + .docs-section {
	border-top-width: 0; 
}
.navbar,
.navbar-spacer {
	display: block;
	height: 6.5rem;
	background: #fff;
	z-index: 99;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; 
}
.navbar-spacer {
	display: none; 
}
.navbar-link {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: .2rem;
	padding-right: 18px;
	text-decoration: none;
	line-height: 6.5rem;
	color: white; 
}
.navbar-rlink {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .2rem;
    text-decoration: none;
	padding-right: 0px;
	margin-right: 0px;
    line-height: 6.5rem;
    color: white;
}
.navbar-link.active, .navbar-rlink.active {
	color: #33C3F0; 
}
.navbar-link:hover, .navbar-rlink:hover {
	color: rgb(66, 106, 124);
}
