{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="row" style="margin-top: 2rem">
	<div class="twelve columns">
        <a class="post-title-link" href="{{ .Permalink }}">{{with .Title }} {{ . }} {{end}} {{if .Params.name}} Spelskaparna - {{.File.TranslationBaseName}} - {{ .Params.name }} ({{.Params.occupation}} | {{.Params.company}}){{end}}</a>
	</div>
</div>
<div class="row">
	<div class="nine columns">
		<span class="post-postedby">postat av {{ .Params.author }} den {{ .Date.Format "Jan 02, 2006" }}</span>
	</div>
	<div class="three columns">
		<span style="font-size:small;">
		</span>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		      {{ if .Params.libsynid }}
      <div class="post-player">
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{ .Params.libsynid }}/height/45/width/300/theme/standard-mini/direction/no/autoplay/no/autonext/no/thumbnail/no/preload/no/no_addthis/no/" height="45" width="300" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
      {{ end }}

      {{ if .Params.audiofile }}
      <span class="post-download"><a href="{{ .Params.audiofile }}">Ladda ner (mp3)</a></span>
      {{ end }}
      <div class="content">
      {{ .Content }}
      </div>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		&nbsp;
	</div>
</div>

{{ partial "footer.html" . }}
