
<div class="post-preview" style="border-top: 1px solid #eee; margin: 20px 0;">
<h2>{{ i18n "listenHere" }}<h2>
        <a href="https://itunes.apple.com/se/podcast/spelskaparna/id1084993748" class="app-button apple-button">
          <img style="margin:0;" src="/img/apple.svg" alt="Apple">
        </a>
        <a href="https://open.spotify.com/show/3KbuUvIYJe14UfYhT1DI6x?si=JpdKZ3REQsiGKG5eoEyjRw" class="app-button spotify-button">
          <img src="/img/spotify.svg" style="margin:0;" alt="Spotify">
        </a>
       <!-- <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5tZWdhcGhvbmUuZm0vdGhlbm9k" class="app-button googlepodcasts-button">
          <img style="margin:0;" src="/img/google.svg" alt="Googlepodcasts"> -->
        </a>
        <a href="https://anchor.fm/s/109be1f54/podcast/rss" class="app-button rss-button">
          <img style="margin:0;" src="/img/rss.svg" alt="Rss">
        </a>
    </div>