<article class="post-preview">
        <a href="{{ .Page.Permalink }}">
          <h2 class="post-title">{{with .Page.Title }} {{ . }} {{end}} {{if .Page.Params.name}} #{{.Page.File.TranslationBaseName}} {{ .Page.Params.name }}  {{end}}</h2>
            <h3 class="post-subtitle">
              {{if .Page.Params.subtitle}}
                {{.Page.Params.subtitle}}
              {{else}}
              {{.Page.Params.occupation}} | {{.Page.Params.company}}
              {{end}}
            </h3>
        </a>
        <p class="post-meta">
          {{ partial "post_meta.html" .Page }}
        </p>
        {{if .ShowPlayer}}
        {{partial "spotify_player.html" .Page}}
        {{end}}
        <div class="post-entry">
          {{ if .Page.Summary }}
            {{ .Page.Summary }}
            <a href="{{ .Page.Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
          {{ else }}
            {{ .Page.Content }}
          {{ end }}
        </div>

        {{ if .Page.Params.tags }}
          <div class="blog-tags">
            {{ range .Page.Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

      </article>
