{{ if .Params.spotify_episode_id }}
<div class="post-player">
    <!-- Using Spotify embed player -->
    {{ if (in .Params.spotify_episode_id "-") }}
        <!-- Legacy Anchor format like "170-Bjrn-Ottosson-...-e38mi1h" -->
        <iframe src="https://anchor.fm/olle-landin6/embed/episodes/{{ .Params.spotify_episode_id }}"
                title="{{ .Title }}"
                height="102px"
                width="100%"
                frameborder="0"
                scrolling="no">
        </iframe>
    {{ else }}
        <!-- Direct Spotify episode ID -->
        <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/episode/{{ .Params.spotify_episode_id }}?utm_source=generator"
                width="100%"
                height="152"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy">
        </iframe>
    {{ end }}
</div>
{{ else if .Params.audiofile }}
<div class="post-player">
    <!-- Fallback to basic HTML5 audio player -->
    <audio controls style="width: 100%;">
        <source src="{{ .Params.audiofile }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
{{ else if .Params.libsynid }}
<!-- Fallback to old Libsyn player if no other data available -->
<div class="post-player">
    <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{.Params.libsynid}}/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/backward/render-playlist/no/custom-color/0007a6/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
{{end}}