{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
            {{range first 2 .Data.Pages}}
            {{partial "preview.html" .}}
        {{end}}
        </div>
          <ul class="pager main-pager">
           {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}episode/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{partial "podcast.html"}}
      </div>
    </div>
  </div>
{{ end }}
